{% extends 'base.html.twig' %}

{% block title %}Blog Article{% endblock %}

{% block body %}
    <div class="id" style="width:100%;height:100%;background-image: url('{{ asset('images/Background.png')}}');">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <a class="btn btn-primary" href="/" style="margin-top: 1em;">Back</a>

                    <h1 style="margin-top: 1em;align-content: center;">{{ post.title }}</h1>
                    <footer class="blockquote-footer">Created the <cite title="Source Title">{{ post.createdAt |date("d/m/Y") }}</cite></footer>

                    <img src="{{ asset('images/Lorem IPSUM.png')}}" class="card-img-top" style="margin-top: 1em;" alt="...">

                    <div style="background-color: white">
                        <p class="card-text" style="margin-top: 1em;margin-bottom: 1em;">{{ post.content }}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
